@using WebApplication4.Areas.MST_Student.Models;
@using System.Data;
@model MST_StudentModel;

<html>
	<body>
	<form method="post" asp-area="MST_Student" asp-controller="MST_Student" asp-action="MST_StudentUpdateFillFormData">
			<table class="table mt-3 border border-dark">
				<thead>
					<tr>
						<th scope="col">Update Student Details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<label>StudentName:</label>
							<input type="text" value="@ViewBag.StudentName" id="studentName" name="studentName" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Mobile No. Student:</label>
							<input type="text" value="@ViewBag.MobileNoStudent" id="mobilenoStudent" name="mobilenoStudent" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Email:</label>
							<input type="text" value="@ViewBag.Email" id="email" name="email" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Mobile No. Father:</label>
							<input type="text" value="@ViewBag.MobileNoFather" id="mobilenoFather" name="mobilenoFather" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Address:</label>
							<input type="text" value="@ViewBag.Address" id="address" name="address" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Date of Birth:</label>
							<input type="text" value="@ViewBag.BirthDate" id="dob" name="dob" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Age:</label>
							<input type="text" value="@ViewBag.Age" id="age" name="age" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>IsActive:</label>
							<input type="text" value="@ViewBag.IsActive" id="isActive" name="isActive" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Gender:</label>
							<input type="text" value="@ViewBag.Gender" id="gender" name="gender" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>Password:</label>
							<input type="text" value="@ViewBag.Password" id="password" name="password" required />
						</td>
					</tr>
					<tr>
						<td>
							<input type="hidden" value="@ViewBag.StudentID" name="StudentID" />
							<input class="btn btn-primary" type="submit" value="Update" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>
