@using WebApplication4.Areas.MST_Branch.Models;
@using System.Data;
@model DataTable;

<html>
	<body>
		<form method="post" asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="MST_BranchSearchData">
			<table class="table mt-3 border border-dark">
				<thead>
					<tr>
						<th scope="col">Search Branch Details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<label>BranchName:</label>
							<input type="text" id="branchName" name="branchName" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>BranchCode:</label>
							<input type="text" id="branchCode" name="branchCode" required />
						</td>
					</tr>
					<tr>
						<td>
							<input class="btn btn-primary" type="submit" value="Search" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<table class="table mt-3 border border-dark">
			<thead>
				<tr>
					<th>BranchID</th>
					<th>BranchName</th>
					<th>BranchCode</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@{
					if (Model.Rows.Count > 0)
					{
						foreach (DataRow dr in Model.Rows)
						{
							<tr>
								<td>@dr["BranchID"]</td>
								<td>@dr["BranchName"]</td>
								<td>@dr["BranchCode"]</td>
								<td>@Convert.ToDateTime(@dr["Created"]).ToString("dd-MM-yyyy")</td>
								<td>
									<a asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="MST_BranchEdit" asp-route-BranchID="@dr["BranchID"]" class="btn btn-primary">Edit</a>
									<a asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="MST_BranchDelete" asp-route-BranchID="@dr["BranchID"]" class="btn btn-danger">Delete</a>
								</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="5" class="text-center">
								<p class="col-form-label">No Records Found!</p>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</body>
</html>