@using WebApplication4.Areas.LOC_State.Models;
@using System.Data;
@model DataTable;

@section Scripts
	{
	<script>
		function checkDelete() {
			if (confirm("Are you sure want to delete this country?")) {
				return true;
			}
			else {
				return false;
			}
		}
	</script>
}

<html>
	<body>
		<div>
		<a asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateAdd" class="btn btn-success">Add State</a>
		<a asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateSearch" class="btn btn-primary">Search State</a>
		</div>
	<table class="table mt-3 border border-dark">
		<thead>
			<tr>
				<th scope="col">CountryID</th>
				<th scope="col">CountryName</th>
				<th scope="col">StateID</th>
				<th scope="col">StateName</th>
				<th scope="col">StateCode</th>
				<th scope="col">Created</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			@{
				if (Model.Rows.Count > 0)
				{
					foreach (DataRow dr in Model.Rows)
					{
						<tr>
							<td>@dr["CountryID"]</td>
							<td>@dr["CountryName"]</td>
							<td>@dr["StateID"]</td>
							<td>@dr["StateName"]</td>
							<td>@dr["StateCode"]</td>
							<td>@Convert.ToDateTime(@dr["Created"]).ToString("dd-MM-yyyy")</td>
							<td>
								<a asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateEdit" asp-route-StateID="@dr["StateID"]" class="btn btn-primary">Edit</a>
								<a asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateDelete" asp-route-StateID="@dr["StateID"]" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="5" class="text-center">
							<p class="col-form-label">No Records Found!</p>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
	</body>
</html>